.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 25px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media (max-width: 980px) {
  .profile__name {
    max-width: 380px;
  }
}

@media (max-width: 620px) {
  .profile__name {
    margin: 22.25px 10px 14px 0;
    text-align: center;
    font-size: 27px;
    line-height: 33px;
    max-width: 250px;
  }
}
