.page {
  max-width: 880px;
  min-height: 100vh;
  background-color: black;
  font-family: "Inter", "Arial", sans-serif;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .page {
    margin: 0 50px;
  }
}

@media (max-width: 680px) {
  .page {
    margin: 0 19px;
  }
}
